<h2>Zur Gewährleistung der Datenschutzbestimmungen gem. Nr. 6.1 der RNO stimme ich insbesondere folgenden Regelungen zu:</h2>

<p><strong>Bestandsdaten</strong> sind Daten eines Teilnehmers, die für die Begründung inhaltlicher Ausgestaltung, Änderung oder Beendigung eines Vertragsverhältnisses über Telekommunikationsdienste erforderlich sind und hierfür erhoben werden. In Fällen eines festgestellten Missbrauchs können von diesen Bestandsdaten die Angaben zu Name, Vorname, zugelassener Anschluss (Anschrift) und zugeteilte IP an den Sicherheitsbeauftragten des zuständigen HSN – Betreibers übermittelt werden. Eine weitergehende Übermittlung von Bestandsdaten an Dritte ist unzulässig. Für Belange der Forschung und Befugnisse der Strafverfolgungsbehörden gelten die Bestimmungen des sächsischen Datenschutzgesetzes. Für einen Missbrauch müssen konkrete, nachvollziehbare und dokumentierte Anhaltspunkte vorliegen. Der betroffene Nutzer ist über den Vorfall sowie über die getroffenen Maßnahmen unverzüglich zu unterrichten und vor der Vornahme weiterer Maßnahmen anzuhören.</p>

<p>Als <strong>Verbindungsdaten</strong> im Sinne dieser Ordnung gelten Verkehrsdaten, die bei der Erbringung eines Telekommunikationsdienstes erhoben, verarbeitet oder genutzt werden. Diese sind:
<ul>
    <li>Kennung der beteiligten Anschlüsse oder der Endeinrichtung</li>
    <li>personenbezogene Berechtigungskennungen</li>
    <li>Standortdaten</li>
    <li>den Beginn und das Ende der jeweiligen Verbindung nach Datum und Uhrzeit und soweit die Entgelte davon abhängen bzw. diese limitiert sind, die übermittelten Datenmengen,</li>
    <li>den vom Nutzer in Anspruch genommenen Telekommunikationsdienst</li>
    <li>sonstige zum Aufbau und zur Aufrechterhaltung der Telekommunikation sowie zur Entgeltabrechnung notwendige Verkehrsdaten</li>
</ul>
<p>Der zuständige Administrator ist in diesem Zusammenhang berechtigt, unter Wahrnehmung der Bestimmungen zum Datenschutz, die Inanspruchnahme der zentralen Datenverarbeitungssysteme durch die einzelnen Nutzer zu dokumentieren und auszuwerten, jedoch nur soweit dies erforderlich ist:</p>
<ul>
    <li>zur Gewährleistung eines ordnungsgemäßen Systembetriebs,</li>
    <li>zur Ressourcenplanung und Systemadministration</li>
    <li>zum Schutz der personenbezogenen Daten anderer Nutzer,</li>
    <li>zu Abrechnungszwecken,</li>
    <li>für das Erkennen und Beseitigen von Störungen sowie</li>
    <li>zur Aufklärung und Unterbringung rechtswidriger oder missbräuchlicher Nutzung.</li>
</ul>
<p>Für einen Missbrauch müssen konkrete, nachvollziehbare und dokumentierte Anhaltspunkte vorliegen. Der betroffene Nutzer ist über den Vorfall sowie über die getroffenen Maßnahmen unverzüglich zu unterrichten und vor der Vornahme weiterer Maßnahmen anzuhören.</p>

<p>Als <strong>Inhaltsdaten</strong> im Sinne dieser Ordnung gelten die Inhalte von Telekommunikationsvorgängen. Inhaltsdaten unterliegen grundsätzlich dem Fernmeldegeheimnis gem. § 88 TKG. Ein Zugriff oder die Einsichtsnahme auf/in Inhaltsdaten ist:
<ul>
    <li>nur auf Grund eines Gesetzes bzw. einer entsprechenden Rechtsvorschrift oder</li>
    <li>mit vorheriger Zustimmung des Nutzers zulässig.</li>
</ul>