<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instruction.css') }}"/>
    <title>Netzzugang Wohnheim Görlitz</title>
  </head>
  <body>
    <div class="section">
        <h1>Internet im Studierendenwohnheim Görlitz</h1>
        <div class="tight">
            <h3>Das Wohnheimnetz ist Teil des Hochschulnetzwerks.</h3>
            <h3>Daher existiert eine Datenvolumensbegrenzung für alle Nutzer:innen.</h3>
        </div>
    </div>
        
    <div class="info-box">
        <p>Dein Startvolumen beträgt: <strong>{{ initial_volume }} GiB</strong></p>
    </div>
    
    <div class="justify">
        <p><strong>Ansparmodell: </strong>Du erhältst jeden Tag <strong>{{ daily_topup_volume }} GiB</strong> gutgeschrieben. Von 8 bis 18 Uhr erfolgt keine Verbrauchszählung. Am Ende des Tages wird dein unverbrauchtes Datenvolumen in den darauf folgenden Tag mitgenommen. Das Ansparmodell erlaubt es dir, insgesamt <strong>{{ max_saved_volume}} GiB</strong> anzusparen.</p>
        
        <p><strong>Aufbrauch: </strong>Nach Aufbrauch deines Datenvolumens wird dein Internetzugang auf eine Geschwindigkeit von <strong>{{ shaping_speed }}/s</strong> gedrosselt. Einzig die Hochschulinfrastruktur (z.B. OPAL) ist weiterhin in voller Geschwindigkeit verfügbar. Sobald der Tag herum ist und du somit <strong>{{ daily_topup_volume}} GiB</strong> gutgeschrieben bekommst, ist die Geschwindigkeitsbeschränkung wieder aufgehoben.</p>
    </div>
    
    <div class="divider"></div>

    <div class="section">
        <h1>Internet in the Görlitz student dormitory</h1>
        <div class="tight">
            <h3>The dormitory network is part of the university network.</h3>
            <h3>Because of this, there is a data volume limit for each user.</h3>
        </div>
    </div>
        
    <div class="info-box">
        <p>Your initial data volume is: <strong>{{ initial_volume }} GiB</strong></p>
    </div>
    
    <div class="justify">
        <p><strong>Savings: </strong>Each day you get a credit of <strong>{{ daily_topup_volume }} GiB</strong>. There is no traffic accounting from 8 AM to 6 PM. At the end of the day, your remaining data volume will be transferred to the following day. This allows you to save a total amount of <strong>{{ max_saved_volume}} GiB</strong>.</p>
        
        <p><strong>Used up: </strong>After using up your data volume, your Internet access will be limited to a speed of <strong>{{ shaping_speed }}/s</strong>. The university infrastructure (e.g. learning platforms) remains to be accessible at full speed. As soon as the day is over and you're getting another <strong>{{ daily_topup_volume}} GiB</strong>, the speed limitation will be removed.</p>
    </div>
    
    <div class="divider"></div>

    <div class="justify">
        {% for admin in admins %}
        <p><strong>Netzadministrator: </strong>{{ admin[0] }}<br/>
        <strong>E-Mail: </strong>{{ admin[1] }}<br/>
        <strong>Zi-Nr. / Room: </strong>{{ admin[2] }}</p>
        {% endfor %}
    </div>
    
    <footer>
      <hr></hr>
        <p>Mieter:in / Tenant: {{ last_name }}, {{ first_name }} | Raum / Room: {{ room }}<br/>
        Formular-ID: {{ creation_date }} | Ausgestellt von {{ current_user.get_role() }}: {{ current_user.get_last_name() }}, {{ current_user.get_first_name() }}
        </p>
    </footer>


    <div class="header">
        <h3>Anleitung</h3>
        <h1>Internetzugang einrichten</h1>
    </div>
    
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>1</h2>
        </div>
        <div class="instruction-text">
            <h3>Verbinde dein Gerät mit dem Ethernet-Anschluss</h3>
            <div class="instruction-description">
                <p>Empfohlen wird die Nutzung eines (W-)LAN Routers.</p>
            </div>
        </div>
    </div>
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>2</h2>
        </div>
        <div class="instruction-text">
            <h3>Die Registrierungsseite öffnet sich automatisch</h3>
        </div>
        
        <div class="instruction-description">
            <p>Dein Browser öffnet sich und leitet dich auf die Registrierungsseite weiter. Falls nicht, besuche folgende URL im Browser:</p>
            <div class="info-box">
                <p><strong>{{ traffy_ip }}</strong> oder <strong>{{ traffy_domain }}</strong></p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>3</h2>
        </div>
        <div class="instruction-text">
            <h3>Gib deinen Registrierungsschlüssel ein</h3>
        </div>

        <div class="instruction-description">
            <p>Eine Registrierung ist für jedes Gerät nur beim ersten Verbinden nötig. Du kannst maximal {{ max_devices }} Geräte mit deinem Registrierungsschlüssel verknüpfen. Es ist dir allerdings jederzeit möglich ein Gerät zu deregistrieren um dafür ein anderes zu registrieren. Dein Registrierungsschlüssel:</p>
            <div class="info-box">
                <p><strong>{{ reg_key }}</strong></p>
                <p>Achte darauf deinen Registrierungsschlüssel nicht zu verlieren und halte ihn geheim!</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>4</h2>
        </div>
        <div class="instruction-text">
            <h3>Akzeptiere die Rahmennetzordnung</h3>
        </div>

        <div class="instruction-count">
            <h2>5</h2>
        </div>
        <div class="instruction-text">
            <h3>Dein Internetzugang ist fertig eingerichtet</h3>
        </div>

        <div class="instruction-description">
            <div class="info-box">
                <p><strong>Tipp: </strong>Besuche regelmäßig <strong>{{ traffy_ip }}</strong> oder <strong>{{ traffy_domain }}</strong> in deinem Browser um dein Datenvolumen abzufragen.</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>?</h2>
        </div>
        <div class="instruction-text">
            <h3 style="padding-left: 4px;">Fragen oder Hilfe benötigt?</h3>
        </div>
 
        <div class="instruction-description">
            <br/>
            {% for admin in admins %}
            <p><strong>Netzadministrator: </strong>{{ admin[0] }}<br/>
            <strong>E-Mail: </strong>{{ admin[1] }}<br/>
            <strong>Zi-Nr.: </strong>{{ admin[2] }}</p>
            {% endfor %}
        </div>

        <footer>
          <hr></hr>
            <p>Mieter:in: {{ last_name }}, {{ first_name }} | Raum: {{ room }}<br/>
            Formular-ID: {{ creation_date }} | Ausgestellt von {{ current_user.get_role() }}: {{ current_user.get_last_name() }}, {{ current_user.get_first_name() }}
            </p>
        </footer>
    </div>

    <div class="header">
        <h3>Instructions</h3>
        <h1>Setting up Internet access</h1>
    </div>
    
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>1</h2>
        </div>
        <div class="instruction-text">
            <h3>Connect your device to the Ethernet port</h3>
            <div class="instruction-description">
                <p>The use of a Wi-Fi/LAN router is advised.</p>
            </div>
        </div>
    </div>
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>2</h2>
        </div>
        <div class="instruction-text">
            <h3>The registration page opens automatically</h3>
        </div>
        
        <div class="instruction-description">
            <p>Your browser opens and redirects you to the registration page. If not, visit the following URL in your browser:</p>
            <div class="info-box">
                <p><strong>{{ traffy_ip }}</strong> oder <strong>{{ traffy_domain }}</strong></p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>3</h2>
        </div>
        <div class="instruction-text">
            <h3>Enter your registration key</h3>
        </div>

        <div class="instruction-description">
            <p>The registration is necessary only once when connecting a device for the first time. You can associate a maximum of {{ max_devices }} devices with your registration key. However, it is always possible to unregister a device in favor of another one. Your registration key:</p>
            <div class="info-box">
                <p><strong>{{ reg_key }}</strong></p>
                <p>Make sure not to lose your registration key and keep it in secret!</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>4</h2>
        </div>
        <div class="instruction-text">
            <h3>Accept the Rahmennetzordnung (Terms and conditions)</h3>
        </div>

        <div class="instruction-count">
            <h2>5</h2>
        </div>
        <div class="instruction-text">
            <h3>You're ready to go</h3>
        </div>

        <div class="instruction-description">
            <div class="info-box">
                <p><strong>Hint: </strong>Visit regularly <strong>{{ traffy_ip }}</strong> or <strong>{{ traffy_domain }}</strong> in your Browser to check your remaining data volume.</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>?</h2>
        </div>
        <div class="instruction-text">
            <h3 style="padding-left: 4px;">Any questions or help needed?</h3>
        </div>
 
        <div class="instruction-description">
            <br/>
            {% for admin in admins %}
            <p><strong>Network administrator: </strong>{{ admin[0] }}<br/>
            <strong>Email: </strong>{{ admin[1] }}<br/>
            <strong>Room: </strong>{{ admin[2] }}</p>
            {% endfor %}
        </div>

        <footer>
          <hr></hr>
            <p>Tenant: {{ last_name }}, {{ first_name }} | Room: {{ room }}<br/>
            Form ID: {{ creation_date }} | Issued by {{ current_user.get_role() }}: {{ current_user.get_last_name() }}, {{ current_user.get_first_name() }}
            </p>
        </footer>
    </div>
  </body>
</html>


