<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instruction.css') }}"/>
    <title>Netzzugang Wohnheim Görlitz</title>
  </head>
  <body>
    <div class="section">
        <h1>Internet im Studentenwohnheim Görlitz</h1>
        <div class="tight">
            <h3>Das Wohnheimnetz ist Teil des Hochschulnetzwerks.</h3>
            <h3>Aufgrund dessen existiert eine Datenvolumensbegrenzung für jeden Nutzer.</h3>
        </div>
    </div>
        
    <div class="info-box">
        <p>Dein Startvolumen beträgt: <strong>{{ initial_volume }} GiB</strong></p>
    </div>
    
    <div class="justify">
        <p><strong>Ansparmodell: </strong>Du erhältst jeden Tag <strong>{{ daily_topup_volume }} GiB</strong> gutgeschrieben. Von 8 bis 18 Uhr erfolgt keine Verbrauchszählung. Am Ende des Tages wird dein unverbrauchtes Datenvolumen in den darauf folgenden Tag mitgenommen. Das Ansparmodell erlaubt es dir, insgesamt <strong>{{ max_saved_volume}} GiB</strong> anzusparen.</p>
        
        <p><strong>Aufbrauch: </strong>Nach Aufbrauch deines Datenvolumens wird dein Internetzugang auf eine Geschwindigkeit von <strong>{{ shaping_speed }}/s</strong> gedrosselt. Einzig die Hochschulinfrastruktur (z.B. Lernplattformen) ist weiterhin in voller Geschwindigkeit abrufbar. Sobald der Tag herum ist und du somit <strong>{{ daily_topup_volume}} GiB</strong> gutgeschrieben bekommst, ist die Geschwindigkeitsbeschränkung wieder aufgehoben.</p>
    </div>
    
    <div class="divider"></div>

    <div class="section">
        <h1>Internet in the Görlitz student dormitory</h1>
        <div class="tight">
            <h3>The dormitory network is part of the university network.</h3>
            <h3>Because of this, there is a data volume limit for each user.</h3>
        </div>
    </div>
        
    <div class="info-box">
        <p>Your initial data volume is: <strong>{{ initial_volume }} GiB</strong></p>
    </div>
    
    <div class="justify">
        <p><strong>Savings: </strong>Each day you get a credit of <strong>{{ daily_topup_volume }} GiB</strong>. There is no traffic accounting from 8 AM to 6 PM. At the end of the day, your remaining data volume will be transferred to the following day. This allows you to save a total amount of <strong>{{ max_saved_volume}} GiB</strong>.</p>
        
        <p><strong>Used up: </strong>After using up your data volume, your Internet access will be limited to a speed of <strong>{{ shaping_speed }}/s</strong>. The university infrastructure (e.g. learning platforms) remains to be accessible at full speed. As soon as the day is over and you're getting another <strong>{{ daily_topup_volume}} GiB</strong>, the speed limitation will be removed.</p>
    </div>
    
    <div class="divider"></div>

    <div class="justify">
        {% for admin in admins %}
        <p><strong>Netzadministrator: </strong>{{ admin[0] }}<br/>
        <strong>E-Mail: </strong>{{ admin[1] }}<br/>
        <strong>Zi-Nr. / Room: </strong>{{ admin[2] }}</p>
        {% endfor %}
    </div>
    
    <footer>
      <hr></hr>
        <p>Mieter / Tenant: {{ last_name }}, {{ first_name }} | Raum / Room: {{ room }}<br/>
        Formular-ID: {{ creation_date }} | Ausgestellt von {{ current_user.get_role() }}: {{ current_user.get_last_name() }}, {{ current_user.get_first_name() }}
        </p>
    </footer>


    <div class="header">
        <h3>Anleitung</h3>
        <h1>Internetzugang einrichten</h1>
    </div>
    
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>1</h2>
        </div>
        <div class="instruction-text">
            <h3>Verbinde dein Gerät mit dem Ethernet-Anschluss</h3>
        </div>
    </div>
    <div class="instruction-section">
        <div class="instruction-count">
            <h2>2</h2>
        </div>
        <div class="instruction-text">
            <h3>Die Registrierungsseite öffnet sich automatisch</h3>
        </div>
        
        <div class="instruction-description">
            <p>Dein Browser öffnet sich und leitet dich auf die Registrierungsseite weiter. Falls nicht, besuche folgende URL im Browser:</p>
            <div class="info-box">
                <p><strong>{{ traffy_ip }}</strong> oder <strong>{{ traffy_domain }}</strong></p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>3</h2>
        </div>
        <div class="instruction-text">
            <h3>Gib deinen Registrierungsschlüssel ein</h3>
        </div>

        <div class="instruction-description">
            <p>Eine Registrierung ist für jedes Gerät nur beim ersten Verbinden nötig. Du kannst maximal {{ max_devices }} Geräte mit deinem Registrierungsschlüssel verknüpfen. Es ist dir allerdings jederzeit möglich ein Gerät zu deregistrieren um dafür ein anderes zu registrieren. Dein Registrierungsschlüssel:</p>
            <div class="info-box">
                <p><strong>{{ reg_key }}</strong></p>
                <p>Achte darauf deinen Registrierungsschlüssel nicht zu verlieren und halte ihn geheim!</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>4</h2>
        </div>
        <div class="instruction-text">
            <h3>Akzeptiere die Rahmennetzordnung</h3>
        </div>

        <div class="instruction-count">
            <h2>5</h2>
        </div>
        <div class="instruction-text">
            <h3>Fertig!</h3>
        </div>

        <div class="instruction-description">
            <p>Dein Internetzugang ist jetzt eingerichtet.</p>
            <div class="info-box">
                <p><strong>Tipp: </strong>Besuche regelmäßig <strong>{{ traffy_ip }}</strong> oder <strong>{{ traffy_domain }}</strong> in deinem Browser um dein Datenvolumen abzufragen.</p>
            </div>
        </div>

        <div class="instruction-count">
            <h2>?</h2>
        </div>
        <div class="instruction-text">
            <h3 style="padding-left: 4px;">Fragen oder Hilfe benötigt?</h3>
        </div>
 
        <div class="instruction-description">
            <br/>
            {% for admin in admins %}
            <p><strong>Netzadministrator: </strong>{{ admin[0] }}<br/>
            <strong>E-Mail: </strong>{{ admin[1] }}<br/>
            <strong>Zi-Nr. / Room: </strong>{{ admin[2] }}</p>
            {% endfor %}
        </div>

        <footer>
          <hr></hr>
            <p>Mieter / Tenant: {{ last_name }}, {{ first_name }} | Raum / Room: {{ room }}<br/>
            Formular-ID: {{ creation_date }} | Ausgestellt von {{ current_user.get_role() }}: {{ current_user.get_last_name() }}, {{ current_user.get_first_name() }}
            </p>
        </footer>
    </div>
    <div class="section">
        <h1>Datenschutzerklärung</h1>
        <div class="tight">
            <h3>Zur Gewährleistung der Datenschutzbestimmungen gem. Nr. 6.1 der RNO stimme ich insbesondere folgenden Regelungen zu:</h3>
        </div>
    </div>
    
    <div class="justify policy">
        <p><strong>Bestandsdaten</strong> sind Daten eines Teilnehmers, die für die Begründung inhaltlicher Ausgestaltung, Änderung oder Beendigung eines Vertragsverhältnisses über Telekommunikationsdienste erforderlich sind und hierfür erhoben werden. In Fällen eines festgestellten Missbrauchs können von diesen Bestandsdaten die Angaben zu Name, Vorname, zugelassener Anschluss (Anschrift) und zugeteilte IP an den Sicherheitsbeauftragten des zuständigen HSN – Betreibers übermittelt werden. Eine weitergehende Übermittlung von Bestandsdaten an Dritte ist unzulässig. Für Belange der Forschung und Befugnisse der Strafverfolgungsbehörden gelten die Bestimmungen des sächsischen Datenschutzgesetzes. Für einen Missbrauch müssen konkrete, nachvollziehbare und dokumentierte Anhaltspunkte vorliegen. Der betroffene Nutzer ist über den Vorfall sowie über die getroffenen Maßnahmen unverzüglich zu unterrichten und vor der Vornahme weiterer Maßnahmen anzuhören.</p>
        
        <p>Als <strong>Verbindungsdaten</strong> im Sinne dieser Ordnung gelten Verkehrsdaten, die bei der Erbringung eines Telekommunikationsdienstes erhoben, verarbeitet oder genutzt werden. Diese sind:
        <ul>
            <li>Kennung der beteiligten Anschlüsse oder der Endeinrichtung</li>
            <li>personenbezogene Berechtigungskennungen</li>
            <li>Standortdaten</li>
            <li>den Beginn und das Ende der jeweiligen Verbindung nach Datum und Uhrzeit und soweit die Entgelte davon abhängen bzw. diese limitiert sind, die übermittelten Datenmengen,</li>
            <li>den vom Nutzer in Anspruch genommenen Telekommunikationsdienst</li>
            <li>sonstige zum Aufbau und zur Aufrechterhaltung der Telekommunikation sowie zur Entgeltabrechnung notwendige Verkehrsdaten</li>
        </ul>
        <p>Der zuständige Administrator ist in diesem Zusammenhang berechtigt, unter Wahrnehmung der Bestimmungen zum Datenschutz, die Inanspruchnahme der zentralen Datenverarbeitungssysteme durch die einzelnen Nutzer zu dokumentieren und auszuwerten, jedoch nur soweit dies erforderlich ist:</p>
        <ul>
            <li>zur Gewährleistung eines ordnungsgemäßen Systembetriebs,</li>
            <li>zur Ressourcenplanung und Systemadministration</li>
            <li>zum Schutz der personenbezogenen Daten anderer Nutzer,</li>
            <li>zu Abrechnungszwecken,</li>
            <li>für das Erkennen und Beseitigen von Störungen sowie</li>
            <li>zur Aufklärung und Unterbringung rechtswidriger oder missbräuchlicher Nutzung.</li>
        </ul>
        <p>Für einen Missbrauch müssen konkrete, nachvollziehbare und dokumentierte Anhaltspunkte vorliegen. Der betroffene Nutzer ist über den Vorfall sowie über die getroffenen Maßnahmen unverzüglich zu unterrichten und vor der Vornahme weiterer Maßnahmen anzuhören.</p>
        
        <p>Als <strong>Inhaltsdaten</strong> im Sinne dieser Ordnung gelten die Inhalte von Telekommunikationsvorgängen. Inhaltsdaten unterliegen grundsätzlich dem Fernmeldegeheimnis gem. § 88 TKG. Ein Zugriff oder die Einsichtsnahme auf/in Inhaltsdaten ist:
        <ul>
            <li>nur auf Grund eines Gesetzes bzw. einer entsprechenden Rechtsvorschrift oder</li>
            <li>mit vorheriger Zustimmung des Nutzers zulässig.</li>
        </ul>

        <p>Die Datenschutzerklärung habe ich erhalten und erkenne sie an.</p>
        <br>
        <h3>______________________________________</h3>
        <p>Datum, Unterschrift Mieter*in</p>
    </div>
  </body>
</html>


