{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Access Deactivated") }}</title>
  </head>
  <body>
    <div class="center-box">
      <div class="dialog-box dialog-box-small">
        <form method="POST">
          <div class="padding-box">
            <h1>{{ _("Access Deactivated") }}</h1>
            <h2>{{ _("Your registration key has been deactivated. Possible reasons could be that your tenancy agreement with Studentenwerk Dresden has expired or that you have violated against the Rahmennetzordnung. If you think that this is a mistake, then please inform the network administrator. Code: 995") }}</h2>
          </div>
        </form>
      </div>
    </div>
    {% include 'includes/sidebar.html' %}
    {% include 'includes/footer.html' %}
  </body>
</html>
{% endblock %}

