DATABASE_URI = "mysql://traffy_user:traffy_user@192.168.100.150/traffy_web"
LANGUAGES = ["en", "de"]
DEV_MODE = False
SECRET_KEY = "BnUlPYIj2ZzeTL1wv4IxzCsRtqcPJLpxvOv"
GIT_REPO_PATH = "/home/traffy/traffy-app"

COMMUNITY = "Görlitz"
ADMINS = [["Falk Seidl", "admin.goerlitz@wh.studentenwerk-dresden.de", "2521"], ["Niklas Merkelt", "admin.goerlitz@wh.studentenwerk-dresden.de", "2419"]]
FACILITY_MANAGEMENT = [["Georg Wohlfahrt", "Georg.Wohlfahrt@studentenwerk-dresden.de"]]

STATELESS = False