DNSMASQ_LEASE_FILE = "/var/lib/misc/dnsmasq.leases"
ENABLE_SNMP = False
if ENABLE_SNMP:
    SWITCHES = {1: {"name": "my-switch", "hostname": "10.90.0.2", "username": "mysnmpuser", "password": "mysupersecurepassword"}}
    ALLOCATION = "port_ip_allocation.txt"
else:
    PING_TRIES = 10
