{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Access Manipulation") }}</title>
  </head>
  <body>
    <div class="center-box">
      <div class="dialog-box dialog-box-small">
        <form method="POST">
          <div class="padding-box">
            <h1>{{ _("Access Manipulation") }}</h1>
            <h2>{{ _("A misconfigured device has attempted to gain access to the network using forged credentials that match yours. For security reasons, your access has been temporarily blocked. Please contact the network administrator. Code: 950") }}</h2>
          </div>
        </form>
      </div>
    </div>
    {% include 'includes/sidebar.html' %}
    {% include 'includes/footer.html' %}
  </body>
</html>
{% endblock %}

