<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Dashboard") }}</title>
    <script src="{{ url_for('static', filename='js/libs/progressbar.min.js') }}"></script>
    <script>
      var volumeLeft = {{ volume_left }};
      var maxVolume = {{ max_volume }};
    </script>
  </head>
  <body class="background-dashboard">
    <div class="nav-container">
      <h1 class="nav-logo">Traffy</h1>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li>
            <a>
              <span class="switch-label">
                {{ _("Basic View") }}
              </span>
              <label class="switch">
                <form method="POST">
                  <input type="submit" name="switch_ui_advanced" />
                </form>
                <span class="slider"></span>
              </label>
            </a>
          </li>
          <li>
            <div class="navbar-divide"></div>
          </li>
          <li>
            {% if notifications|length == 0 %}
            <div class="notification-menu"></div>
            {% else %}
            <div class="notification-menu unread">
              {% if notifications|length < 100 %}
              <div class="notification-badge">{{ notifications|length }}</div>
              {% else %}
              <div class="notification-badge">*</div>
              {% endif %}
            </div>
            {% endif %}
            <div class="notification-menu-content">
              {% for notification in notifications %}
              <div class="notification-row">
                <form method="POST">
                  <input name="mark_msg_read" type="submit" value="{{ notification.id }}"/>
                </form>
                <h1>{{ notification.title }}</h1>
                <p>{{ notification.body }}</p>
              </div>
              {% endfor %}
              {% if notifications|length == 0 %}
              <div class="notification-row-placeholder">
                <h1>{{ _("No Notifications") }}</h1>
              </div>
              {% endif %}
            </div>
          </li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="float-box">
      <div class="notification-box">
        <p>{{ message }}</p>
      </div>
    </div>
    {% endfor %}
    <div class="center-box">
      <div class="dialog-box dialog-box-small">
        <div class="padding-box">
          <h1>{{ _("Dashboard") }}</h1>
          <div class="center-box">
            <div class="flex-bottom-box">
              <div class="progress-box"></div>
              {% if in_unlimited_time_range == true %}
              <div class="progress-subtitle-box">{{ _("Currently No Traffic Accounting") }}</div>
              {% else %}
              <div class="progress-subtitle-box">{{ _("Remaining Traffic Volume") }}</div>
              {% endif %}
              <script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
            </div>
            <div class="divider-horizontal"></div>
            <div class="button-box">
              <form method="POST">
                <input name="deregister_dashboard_btn" type="submit" value="{{ _('Deregister This Device') }}"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/sidebar.html' %}
    {% include 'includes/footer.html' %}
  </body>
</html>


