<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Deregistration") }}</title>
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <div class="float-box">
      <div class="notification-box">
        <p>{{ message }}</p>
      </div>
    </div>
    {% endfor %}
    <div class="center-box">
      <div class="dialog-box dialog-box-small">
        <form method="POST">
          <div class="padding-box">
            <h1>{{ _("Deregistration") }}</h1>
            <p>{{ _("Deregistering this device allows you to plug in another device at this port. After deregistration you will be redirected to the registration prompt.") }}</p>
            <div class="notification-box">
              <p>{{ _("It can take up to 10 minutes for a newly plugged in device to gain access to the network. PLEASE REFRAIN FROM WRITING IMMEDIATE SUPPORT TICKETS!") }}</p>
            </div>
          </div>
          <input name="deregister_btn" type="submit" value="{{ _('Deregister') }}"/>
        </form>
      </div>
    </div>
    {% include 'includes/sidebar.html' %}
    {% include 'includes/footer.html' %}
  </body>
</html>


