<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Accounts") }}</title>
  </head>
  <body>
    <div class="nav-container">
      <h1 class="nav-logo">{{ _("Supervisor Dashboard") }}</h1>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li><a href="{{ url_for('admin.dashboard') }}">{{ _("Overview") }}</a></li>
          <li><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
<!--          <li><a href="{{ url_for('admin.infrastructure') }}">{{ _("Infrastructure") }}</a></li> -->
          {% if current_user.is_admin() %}
          <li class="active"><a href="#">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>
    <div class="page-box">
      <div class="content-box">
        {% for message in get_flashed_messages() %}
        <div class="float-box-inline">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
        <h1>{{ _("Supervisor Accounts") }}</h1>
        <div class="supervisor-divider"></div>

        <div class="toolbar">
          <div></div>

          <div class="toolbar-button-box">
            <form method="POST">
              <input name="add_account_btn" type="submit" value="{{ _('Add Account') }}"/>
            </form>
          </div>
        </div>

        <div class="table">
          <div class="table-head">
            <div class="table-cell">{{ _("Username") }}</div>
            <div class="table-cell collapse">{{ _("Surname") }}</div>
            <div class="table-cell collapse">{{ _("First name") }}</div>
            <div class="table-cell collapse">{{ _("Role") }}</div>
            <div class="table-cell-button"></div>
          </div>
          {% for row in rows %}
          <div class="table-row">
            <div class="table-cell">{{ row.username }}</div>
            <div class="table-cell collapse">{{ row.last_name }}</div>
            <div class="table-cell collapse">{{ row.first_name }}</div>
            <div class="table-cell collapse">{{ row.role }}</div>
            <div class="table-cell-button">
              <input name="edit_btn" type="submit" value="">
                <form method="POST">
                  <a href="{{ url_for(request.endpoint) }}/{{ row.username }}">
                    <img class="table-button-image" src="{{ url_for('static', filename='icons/edit.svg') }}"/>
                  </a>
                </form>
              </input>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

    {% include 'includes/footer.html' %}
  </body>
</html>


