<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Add Account") }}</title>
  </head>
  <body>
    <div class="nav-container">
      <h1 class="nav-logo">{{ _("Supervisor Dashboard") }}</h1>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li><a href="{{ url_for('admin.dashboard') }}">{{ _("Overview") }}</a></li>
          <li><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
          {% if current_user.is_admin() %}
          <li class="active"><a href="{{ url_for('admin.accounts') }}">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>

    <div class="page-box">
      <div class="content-box">
        {% for message in get_flashed_messages() %}
        <div class="float-box-inline">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
        <h1>{{ _("Add Supervisor Account") }}</h1>
        <div class="supervisor-divider"></div>

        <form method="POST">
          <div class="center-box">
            <div class="dialog-box dialog-box-small">
              <div class="padding-box">
                <p class="input-descriptor">{{ _("Username") }}</p>
                <input type="text" name="username" value=""/>
                <p class="input-descriptor">{{ _("First name") }}</p>
                <input type="text" name="first_name" value=""/>
                <p class="input-descriptor">{{ _("Surname") }}</p>
                <input type="text" name="surname" value=""/>
                <p class="input-descriptor">{{ _("Mail") }}</p>
                <p class="input-descriptor small">{{ _("Only trusted mail servers: ") }} *hszg.de, *studentenwerk-dresden.de</p>
                <input type="text" name="mail" value=""/>
                <p class="input-descriptor">{{ _("Password") }}</p>
                <p class="input-descriptor small">{{ _("Minimum 20 characters, at least 5 numbers, 5 capital letters, 5 lower case letters, 5 special characters.") }}</p>
                <input type="password" name="password" value=""/>
                <p class="input-descriptor">{{ _("Role") }}</p>
                <select name="role">
                    {% for role in roles %}
                        <option value="{{ role }}">{{ role }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="supervisor-divider"></div>
          <div class="toolbar">
            <input name="add_key_btn" type="submit" value="{{ _('Add') }}"/>
            <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
          </div>
        </form>

      </div>
    </div>

    {% include 'includes/footer.html' %}
  </body>
</html>


