<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Dashboard") }}</title>
    <script src="{{ url_for('static', filename='js/libs/chart.min.js') }}"></script>
  </head>
  <body>
    <div class="nav-container">
      <h1 class="nav-text">{{ _("Supervisor Dashboard") }}</h1>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li class="active"><a href="#">{{ _("Overview") }}</a></li>
          <li><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
          <li><a href="{{ url_for('admin.notifications') }}">{{ _("Notifications") }}</a></li>
          {% if current_user.is_admin() %}
          <li><a href="{{ url_for('admin.accounts') }}">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>
    {% for message in get_flashed_messages() %}
      <div class="float-box">
        <div class="notification-box">
          <p>{{ message }}</p>
        </div>
      </div>
    {% endfor %}
    <div class="page-box">
      <div class="content-box">
        <h1>{{ _("Total Traffic Consumption") }}</h1>
        <div class="supervisor-divider"></div>
        <div class="chart-container">
          <canvas id="chart"></canvas>
        </div>

        <h1>{{ _("Miscellaneous statistics") }}</h1>
        <div class="supervisor-divider"></div>
        <div class="statistic-flowbox">
          <div>
            <h2>{{ _("Active Users") }}</h2>
            <p>{{ active_users }}</p>
          </div>
          <div>
            <h2>{{ _("Registered Users") }}</h2>
            <p>{{ registered_users }}</p>
          </div>
          <div>
            <h2>{{ _("Average Credit") }}</h2>
            <p>{{ average_credit }} GiB</p>
          </div>
          <div>
            <h2>{{ _("Shaped Users") }}</h2>
            <p>{{ shaped_users }}</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      Chart.defaults.global.responsive = true;
      Chart.defaults.global.maintainAspectRatio = false;

      var barData = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend_downlink }}',
            backgroundColor: "rgba(45,55,72,0.9)",
            stack: "Stack 0",
            data : [{% for item in values_downlink %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_downlink_unlimited_range }}',
            backgroundColor: "rgba(45,55,72,0.7)",
            stack: "Stack 0",
            data : [{% for item in values_downlink_unlimited_range %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_downlink_shaped }}',
            backgroundColor: "rgba(45,55,72,0.5)",
            stack: "Stack 0",
            data : [{% for item in values_downlink_shaped %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_downlink_excepted }}',
            backgroundColor: "rgba(45,55,72,0.3)",
            stack: "Stack 0",
            data : [{% for item in values_downlink_excepted %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_uplink }}',
            backgroundColor: "rgba(156,26,26,0.9)",
            stack: "Stack 1",
            data : [{% for item in values_uplink %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_uplink_unlimited_range }}',
            backgroundColor: "rgba(156,26,26,0.7)",
            stack: "Stack 1",
            data : [{% for item in values_uplink_unlimited_range %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_uplink_shaped }}',
            backgroundColor: "rgba(156,26,26,0.5)",
            stack: "Stack 1",
            data : [{% for item in values_uplink_shaped %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: '{{ legend_uplink_excepted }}',
            backgroundColor: "rgba(156,26,26,0.3)",
            stack: "Stack 1",
            data : [{% for item in values_uplink_excepted %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      var ctx = document.getElementById("chart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'bar',
        data: barData,
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'GiB'
                    }
                }]
            },
            tooltips: {
                enabled: true,
                mode: 'x',
                callbacks: {
                    label: function(tooltipItems, data) { 
                        return data.datasets[tooltipItems.datasetIndex].label +': ' + tooltipItems.yLabel + ' GiB';
                    },
                    footer: (tooltipItems, data) => {
                        let total = tooltipItems.reduce((a, e) => a + parseFloat(e.yLabel), 0).toFixed(3);
                        return '{{ _("Total") }}: ' + total + ' GiB';
                    }
                }
            }
        }
      });
    </script>

    {% include 'includes/footer.html' %}
  </body>
</html>


