<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Edit Identity") }}</title>
    <script src="{{ url_for('static', filename='js/libs/chart.min.js') }}"></script>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-logo supervisor"></div>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li><a href="{{ url_for('admin.dashboard') }}">{{ _("Overview") }}</a></li>
          <li class="active"><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
          <li><a href="{{ url_for('admin.notifications') }}">{{ _("Notifications") }}</a></li>
          {% if current_user.is_admin() %}
          <li><a href="{{ url_for('admin.accounts') }}">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>

    <div class="page-box">
      <div class="content-box">
        {% for message in get_flashed_messages() %}
        <div class="float-box-inline">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
        <h1>{{ _("Edit Identity") }}</h1>
        <div class="supervisor-divider"></div>

        <form method="POST">
          <div class="center-box">
            <div class="dialog-box dialog-box-small identity-edit">
              <div class="padding-box">
                <p class="input-descriptor">{{ _("First name") }}</p>
                <input type="text" name="first_name" value="{{ identity_data.first_name }}"/>
                <p class="input-descriptor">{{ _("Surname") }}</p>
                <input type="text" name="surname" value="{{ identity_data.last_name }}"/>
                <p class="input-descriptor">{{ _("Mail") }}</p>
                <input type="text" name="mail" value="{{ identity_data.mail }}"/>
                <p class="input-descriptor">{{ _("Room") }}</p>
                {% if identity_data.new_room is none %}
                <input type="text" name="room" value="{{ identity_data.room }}"/>
                {% else %}
                <input type="text" name="room" value="{{ identity_data.room }}" disabled/>
                {% endif %}
                {% if identity_data.new_room is none %}
                <p class="input-descriptor">{{ _("Move Date (optional)") }}</p>
                <input type="date" name="move_date" value="{{ identity_data.deletion_date }}"/>
                {% endif %}
                {% if identity_data.new_room is not none %}
                <p class="input-descriptor">{{ _("There is a planned room move for this user on ") }} {{ identity_data.scheduled_move }} {{ _("to room") }} {{ identity_data.new_room }}. {{ _("If you want to cancel this move or edit the room, click the button below.") }}</p>
                <input name="cancel_move_btn" type="submit" value="{{ _('Cancel Move') }}"/>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="supervisor-divider"></div>
          <div class="toolbar">
            <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
            <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
          </div>
        </form>

      </div>
    </div>

    {% include 'includes/footer.html' %}
  </body>
</html>


