<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Notifications") }}</title>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-logo supervisor"></div>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li><a href="{{ url_for('admin.dashboard') }}">{{ _("Overview") }}</a></li>
          <li><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
          <li class="active"><a href="{{ url_for('admin.notifications') }}">{{ _("Notifications") }}</a></li>
          {% if current_user.is_admin() %}
          <li><a href="{{ url_for('admin.accounts') }}">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>
    <div class="page-box">
      <div class="content-box">
        {% for message in get_flashed_messages() %}
        <div class="float-box-inline">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
        <h1>{{ _("Edit Notification") }}</h1>
        <div class="supervisor-divider"></div>

        <form method="POST">
          <div class="center-box">
            <div class="dialog-box dialog-box-small identity-edit">
              <div class="padding-box">
                <p class="input-descriptor">{{ _("Title") }}</p>
                <input type="text" name="title" value="{{ notification_data[0] }}"/>
                <p class="input-descriptor">{{ _("Text") }}</p>
                <textarea name="body">{{ notification_data[1] }}</textarea>
                <p class="input-descriptor">{{ _("Valid From") }}</p>
                <input type="date" name="valid_from" value="{{ notification_data[2] }}"/>
                <p class="input-descriptor">{{ _("Valid Until") }}</p>
                <input type="date" name="valid_until" value="{{ notification_data[3] }}"/>
              </div>
            </div>
          </div>

          <div class="supervisor-divider"></div>
          <div class="toolbar">
            <input name="save_btn" type="submit" value="{{ _('Save') }}"/>
            <input name="cancel_btn" type="submit" value="{{ _('Cancel') }}"/>
          </div>
        </form>

      </div>
    </div>

    {% include 'includes/footer.html' %}
  </body>
</html>


