<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>{{ _("Supervisor Infrastructure") }}</title>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-logo supervisor"></div>
      <input type="checkbox" id="nav-menu" class="nav-menu" />
      <nav>
        <ul>
          <li><a href="{{ url_for('admin.dashboard') }}">{{ _("Overview") }}</a></li>
          <li><a href="{{ url_for('admin.reg_codes') }}">{{ _("Registration Codes") }}</a></li>
          <li class="active"><a href="{{ url_for('admin.infrastructure') }}">{{ _("Infrastructure") }}</a></li>
          {% if current_user.is_admin() %}
          <li><a href="{{ url_for('admin.accounts') }}">{{ _("Accounts") }}</a></li>
          {% endif %}
          <li class="logout"><a href="{{ url_for('admin.logout') }}">{{ _("Logout") }}</a></li>
        </ul>
      </nav>
      <label for="nav-menu" class="nav-menu-label">
        <span></span>
      </label>
    </div>
    <div class="page-box">
      <div class="content-box">
        {% for message in get_flashed_messages() %}
        <div class="float-box-inline">
          <div class="notification-box">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
        <h1>{{ _("Bulk Management") }}</h1>
        <div class="supervisor-divider"></div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Bulk Custom Credit") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Set credit counter of all users in the database.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <form method="POST">
              <input type="text" name="custom_bulk_credit_input" value=""/>
              <input name="custom_bulk_credit_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Bulk Add Credit") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Grant custom amount of credit to all users in the database.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <form method="POST">
              <input type="text" name="add_bulk_credit_input" value=""/>
              <input name="add_bulk_credit_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Disable Accounting Globally") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Disable traffic accounting for all users in the database. Does not apply for newly created users.") }}</p>
            <form method="POST">
              <input name="global_disable_accounting" type="submit" value="{{ _('Disable Accounting Globally') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Enable Accounting Globally") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Enable traffic accounting for all users in the database.") }}</p>
            <form method="POST">
              <input name="global_enable_accounting" type="submit" value="{{ _('Enable Accounting Globally') }}"/>
            </form>
          </div>
        </div>

        <h1>{{ _("Traffic Rules") }}</h1>
        <div class="supervisor-divider"></div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Daily Top-Up Volume") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Amount of credit an user gets granted once every day.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <p><strong>{{ _("Value:") }}</strong> {{ daily_topup_volume }} GiB</p>
            <form method="POST">
              <input type="text" name="set_daily_topup_volume_input" value=""/>
              <input name="set_daily_topup_volume_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Maximum Saved Volume") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Maximum amount of credit an user can save up.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <p><strong>{{ _("Value:") }}</strong> {{ maximum_saved_volume }} GiB</p>
            <form method="POST">
              <input type="text" name="set_daily_topup_volume_input" value=""/>
              <input name="set_daily_topup_volume_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Initial Volume") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Initial credit a newly created user receives.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <p><strong>{{ _("Value:") }}</strong> {{ initial_volume }} GiB</p>
            <form method="POST">
              <input type="text" name="set_daily_topup_volume_input" value=""/>
              <input name="set_daily_topup_volume_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

        <div class="settings-box">
          <div class="settings-box-content">
            <h2>{{ _("Time-based Unlimited Rule") }}</h2>
            <p><strong>{{ _("Description:") }}</strong> {{ _("Daily time period where traffic accounting is suspended.") }}</p>
            <p><strong>{{ _("Allowed Values:") }}</strong> 1 - 999</p>
            <p><strong>{{ _("Unit:") }}</strong> GiB</p>
            <p><strong>{{ _("Value:") }}</strong> {{ initial_volume }} GiB</p>
            <form method="POST">
              <input type="text" name="set_daily_topup_volume_input" value=""/>
              <input name="set_daily_topup_volume_apply" type="submit" value="{{ _('Apply') }}"/>
            </form>
          </div>
        </div>

      </div>
    </div>

    {% include 'includes/footer.html' %}
  </body>
</html>


